$color_2: #950217;
$color_3: #acadad;
$background_color_1: transparent;
$background_color_2: #fafafa;
$background_color_4: #f9f9f9;


body {
  overflow-x: hidden;
}

@font-face {
  font-family: 'Bebas Kai';
  src: url('../fonts/bebaskai-regular-webfont.woff2') format('woff2'), url('../fonts/bebaskai-regular-webfont.eot') format('embedded-opentype'), url('../fonts/bebaskai-regular-webfont.woff') format('woff'), url('../fonts/bebaskai-regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Triester';
  src: url('../fonts/script-webfont.woff2') format('woff2'), url('../fonts/script-webfont.eot') format('embedded-opentype'), url('../fonts/script-webfont.woff') format('woff'), url('../fonts/script-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
.gd-hero-section {
  overflow: hidden;
  height: 750px;
  max-height: none;
  background-image: url(/assets/img/Gabby-Diaz-Header-1.jpg);
  background-position: 50% 50%;
  background-size: cover;
  .container-2 {
    padding-top: 40px;
  }
}
.gd-audio-reels {
  height: auto;
  max-height: none;
  margin-right: auto;
  margin-bottom: 140px;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
  max-width: 960px;
}
.gd-about-gabby-header {
  position: relative;
  z-index: -1;
}

.banner-bg-wrapper {
  position: absolute;
  .banner-bg-primary-accent {
    fill: $primary-accent!important;
  }
  .banner-bg-secondary-accent {
    fill: $lilac !important;
  }
}

.asset_youtubePlayButton_wrapper {
  height: 1px;
  .asset_youtubePlayButton {
    margin: auto;
    display: block;
    position: relative;
    top: -120px;
    #accent_color {
      fill:$primary-accent;
    }
  }
}

.gd-hero-columns {
  margin-top: 123px;
}
.gd-audio-featured-section {
  margin-bottom: 120px;
  padding-right: 40px;
  padding-left: 40px;
}
.gd-audio-featured-container {
  width: auto;
  height: 150px;
  max-width: none;
  margin-top: -75px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 10px;
  background-color: $background_color_1;
}
.gd-audio-wrapper {
  width: auto;
  height: 125px;
  max-width: 900px;
  margin: 40px auto 0px;
  padding-top: 0px;
  border-radius: 10px;
  background-color: $background_color_2;
  box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.1);
}
.gd-audio-featured-wrapper {
  overflow: hidden;
  width: auto;
  height: 200px;
  max-width: 900px;
  margin: -100px auto 0px;
  padding-right: 0px;
  padding-left: 0px;
  border-radius: 10px;
  background-color: $background_color_2;
  box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.1);
}
.columns {
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
}
.column-2 {
  padding-right: 0px;
  padding-left: 0px;
}
.gd-about-gabby-section {
  max-width: 1366px;
  margin-right: auto;
  margin-bottom: 140px;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
  font-size: 156px;
}
.gd-about-gabby---video-wrapper {
  width: auto;
  max-width: 600px;
  margin: -100px auto 40px;
  padding-right: 40px;
  padding-left: 40px;
}
.gd-about-gabby---text-wrapper {
  width: auto;
  max-width: 600px;
  margin-top: auto;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
}
.gd-about-gabby---text-wrapper-h4 {
  font-size: 32px;
  line-height: 40px;
}
.text-block {
  font-size: 16px;
  line-height: 32px;
  font-weight: 300;
}
.body {
  font-family: $font_family_3;
}
.gd-section-title-subtitle-wrapper.gd-ig-title {
  margin-top: -75px;
}
.gd-section-title-subtitle-wrapper.gd-tw-title {
  margin-top: -75px;
}
.gd-section-title-subtitle-h3 {
  margin-bottom: 0px;
  font-family: $font_family_1;
  font-size: 128px;
  line-height: 128px;
  font-weight: 400;
  text-align: center;
  position: relative;
}
.script {
  font-family: $font_family_2;
}

.gd-section-title-subtitle-h2 {
  margin-top: 0px;
  font-family: $font_family_1;
  font-size: 156px;
  line-height: 156px;
  font-weight: 400;
  text-align: center;
  letter-spacing: -3px;
  position: relative;
}
.gd-section-title-subtitle-h2.white {
  margin-top: -60px;
  margin-bottom: 40px;
  color: $white;
}
.gd-section-title-subtitle-h2.black {
  margin-top: -60px;
}
.gd-section-title-subtitle-container {
  padding-top: 40px;
  padding-bottom: 100px;
}
.heading-4 {
  font-family: $font_family_2;
  color: $white;
  font-size: 48px;
  line-height: 36px;
}
.div-block-2 {
  margin-right: auto;
  margin-left: auto;
  padding: 10px 20px;
  background-color: $primary-accent;
  line-height: 14px;
}
.gd-podcast-section {
  overflow: hidden;
  margin-bottom: 100px;
}
.gd-podcast-wrapper {
  position: relative;
  height: 75vh;
}
.div-block-2-copy {
  margin-right: auto;
  margin-left: auto;
  padding: 10px 20px;
  background-color: $primary-accent;
  line-height: 14px;
}
.podcast-player-embed {
  margin-right: auto;
  margin-left: auto;
  padding: 10px 20px;
  line-height: 14px;
  position: relative;
  > div {
    margin-top:2rem;
  }

}
.gd-podcast-wrapper-headline-cta {
  margin-right: auto;
  margin-left: auto;
  padding: 10px 20px;
  background-color: $primary-accent;
  line-height: 14px;
}
.image-2 {
  position: absolute;
  left: auto;
  top: -15%;
  right: -15%;
  bottom: 0%;
  width: 500px;
}
.gd-ig-section {
  clear: both;
  background-image: url(/assets/img/insta-background2x.png);
  background-position: 50% 50%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.gd-ig-section---grid-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.gd-ig-section---grid-item {
  width: 33%;
  padding: 20px;
}
.gd-tw-section {
  position: relative;
  z-index: -1;
  min-height: 80vh;
  background-image: url(/assets/img/gabbytwitter-lilac.jpg);
  background-position: 0px 0px;
  background-size: cover;
}
.gd-ig-title-subtitle-container {
  position: relative;
  z-index: -1;
  margin-top: -110px;
  padding-top: 140px;
  padding-bottom: 140px;
}
.gd-tw-section---tweets-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.columns-2 {
  width: 100%;
}
.gd-blog-title-section {
  height: auto;
  max-height: none;
  margin-top: -60px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url(/assets/img/insta-background2x.png);
  background-position: 50% 50%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.gd-blog-section-title-subtitle {
  padding-top: 20px;
  padding-bottom: 20px;
}
.gd-blog-items-section {
  height: auto;
  max-height: none;
  margin-bottom: 140px;
  padding-bottom: 100px;
}
.gd-blog-columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.gd-blog-column-1 {
  position: relative;
}
.gd-blog-column-2 {
  padding-left: 10px;
}
.heading-5 {
  margin-bottom: 40px;
  font-size: 28px;
  line-height: 35px;
  font-weight: 900;
}
.heading-6 {
  display: inline-block;
  color: $color_3;
  line-height: 12px;
  letter-spacing: 2px;
}
.gd-blog-item-ream-more-button {
  display: inline-block;
  padding: 5px 80px;
  border-radius: 5px;
  background-color: $primary-accent;
}
.gd-blog-item-button-text {
  color: $white;
}
.div-block-3 {
  width: 150px;
  height: 4px;
  background-color: $primary-accent;
}
.bold-text {
  line-height: 12px;
}
.gd-blog-small-columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.gd-blog-item-wrapper {
  height: 250px;
  background-image: url(/assets/img/gabby-hero2x.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.image-3 {
  max-width: none;
}
.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.gd-blog-item-wrapper-inner {
  /* position: absolute;
  left: 0%;
  top: 50%;
  right: 0%;
  bottom: auto; */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
  margin-left: 30px;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: $background_color_4;
  box-shadow: 0 15px 25px -15px rgba(0, 0, 0, 0.15);
}
.blog-item-small-h5 {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 22.5px;
  font-weight: 900;
  text-align: center;
}
.gd-blog-item-small-read-more-button-copy {
  display: inline-block;
  padding: 5px 60px;
  border-radius: 5px;
  background-color: $primary-accent;
}
.gd-blog-item-ream-more-button-copy {
  display: inline-block;
  padding: 5px 80px;
  border-radius: 5px;
  background-color: $primary-accent;
}
.html-embed {
  overflow: hidden;
}

.image-4 {
  width: 50px;
}
.hero-subheading {
  font-family: $font_family_1;
  color: $white;
  font-size: 28px;
  line-height: 28px;
  letter-spacing: 4px;
}


// Color
.primary-accent {
  .type {
    color:$primary-accent !important;
  }
  .background {
    background-color:$primary-accent !important;
  }
  .fill {
    g {
      fill:$primary-accent !important;
    }
  }
}