<div class="gd-about-gabby-header"> 
	{{> banner-bg-top}}
	{{> banner-bg-bottom}}
	<div class="gd-section-title-subtitle-container w-container"> 
		<div class="gd-section-title-subtitle-wrapper"> 
			<h3 class="gd-section-title-subtitle-h3 script white">about
			</h3> 
			<h1 class="gd-section-title-subtitle-h2 white">Gabby
			</h1> 
		</div> 
	</div> 
</div> 
<div class="gd-about-gabby-section"> 
	<div class="gd-about-gabby---video-wrapper">
		<img src="{{root}}assets/img/YouTube-clip2x.png" srcset="{{root}}assets/img/YouTube-clip2x-p-500.png 500w, {{root}}assets/img/YouTube-clip2x.png 1350w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 75vw, 520px" alt="" class="image">
		<div class="asset_youtubePlayButton_wrapper">
			{{> asset_youtubePlayButton}}
		</div>
	</div> 
	<div class="gd-about-gabby---text-wrapper"> 
		<h4 class="gd-about-gabby---text-wrapper-h4">
			<strong>Contrary to popular belief, Lorem Ipsum is not simply random text.
			</strong>
		</h4> 
		<div class="text-block">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of &quot;de Finibus Bonorum et Malorum&quot; (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, &quot;Lorem ipsum dolor sit amet..&quot;, comes from a line in section 1.10.32.
			<br>
		</div> 
	</div> 
</div> 