<div class="gd-hero-section"> 
	<div class="container-2 w-container"> 
		<div>
			<img src="{{root}}assets/img/Gabby-Diaz-Gabby-Icon-150px.png" alt="" class="image-4">
		</div> 
		<div class="gd-hero-columns w-row"> 
			<div class="gd-hero-column gd-hero-column-1 w-col w-col-6"> 
				<h5 class="hero-subheading">MUSIC + MEDIA + VOICEOVER
				</h5>
				<img src="{{root}}assets/img/Gabby-Diaz-Gabby-Text-Logo-White-600px.png" alt="">
			</div> 
			<div class="gd-hero-column gd-hero-column-2 w-col w-col-6">
			</div> 
		</div> 
	</div> 
</div> 