<div class="gd-ig-section"> 
	<div class="gd-section-title-subtitle-container w-container"> 
		<div class="gd-section-title-subtitle-wrapper gd-ig-title"> 
			<h3 class="gd-section-title-subtitle-h3 script primary-accent-text-color">follow me on
			</h3> 
			<h1 class="gd-section-title-subtitle-h2 white">INSTA
			</h1> 
		</div> 
		<div class="gd-ig-section---grid-container"> 
			<div class="gd-ig-section---grid-item">
				<img src="{{root}}assets/img/74713836_117187816119788_1768254948126037781_n.jpg" alt="">
			</div> 
			<div class="gd-ig-section---grid-item">
				<img src="{{root}}assets/img/69118957_529318731219349_1793893033166102129_n.jpg" alt="">
			</div> 
			<div class="gd-ig-section---grid-item">
				<img src="{{root}}assets/img/72781811_2395196004073301_4456515494509110099_n.jpg" alt="">
			</div> 
			<div class="gd-ig-section---grid-item">
				<img src="{{root}}assets/img/73041805_1389966207837917_7364508327624223364_n.jpg" alt="">
			</div> 
			<div class="gd-ig-section---grid-item">
				<img src="{{root}}assets/img/71569006_2501167036837203_5096198184554139845_n.jpg" alt="">
			</div> 
			<div class="gd-ig-section---grid-item">
				<img src="{{root}}assets/img/72070058_136344161039828_7193930644308677258_n.jpg" alt="">
			</div> 
		</div> 
	</div> 
</div> 