<div class="gd-podcast-section"> 
	<div class="gd-section-title-subtitle-container w-container"> 
		<div class="gd-section-title-subtitle-wrapper"> 
			<h3 class="gd-section-title-subtitle-h3 script primary-accent-text-color">my
			</h3> 
			<h1 class="gd-section-title-subtitle-h2 black">PODCAST
			</h1> 
		</div> 
	</div> 
	<div class="gd-podcast-wrapper w-container"> 
		<div class="div-block gd-podcast-wrapper-headline-cta"> 
			<h5 class="heading-4">check out the latest episode
			</h5> 
		</div> 
		<div class="podcast-player-embed grid-x">
			<div class="cell large-8">
				<iframe width="100%" height="125" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/332049007&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true">
				</iframe>
			</div>
		</div>
		<img src="{{root}}assets/img/podcastphonemockup12x.png" srcset="{{root}}assets/img/podcastphonemockup12x-p-500.png 500w, {{root}}assets/img/podcastphonemockup12x.png 1106w" sizes="(max-width: 767px) 100vw, 500px" alt="" class="image-2">
	</div> 
</div> 