<div class="gd-tw-section"> 
	<div class="gd-ig-title-subtitle-container w-container"> 
		<div class="gd-section-title-subtitle-wrapper gd-tw-title"> 
			<h3 class="gd-section-title-subtitle-h3 script primary-accent-text-color">follow me on
			</h3> 
			<h1 class="gd-section-title-subtitle-h2 white">TWITTER
			</h1> 
		</div> 
		<div class="gd-tw-section---tweets-container"> 
			<div class="columns-2 w-row"> 
				<div class="w-col w-col-6"> 
					<div class="w-embed w-script">
						<a class="twitter-timeline" data-height="600" data-link-color="#E81C4F" href="https://twitter.com/thegabbydiaz?ref_src=twsrc%5Etfw">Tweets by thegabbydiaz
						</a> 
						<script async="" src="https://platform.twitter.com/widgets.js" charset="utf-8">
						</script> 
					</div> 
				</div> 
				<div class="w-col w-col-6">
				</div> 
			</div> 
		</div> 
	</div> 
</div> 